<%-include("../layout/admin/header")-%>

<div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <div class="header-center p-3">
                <a href="/admin/adminHome">
                    <h3 class="text-center font-weight-bolder text-uppercase">Elaine</h3>
                </a>
            </div>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i
                        class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside ">
                <li class="menu-item active p-2">
                    <a class="menu-link" href="/admin/adminHome">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/productsList">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/addCategory">
                        <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/customerList">
                        <i class="icon material-icons md-store"></i>
                        <span class="text">Customers</span>
                    </a>
                </li>
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/orders">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/coupons">
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Coupons</span>
                    </a>  
                </li>
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/offers">
                        <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Offers</span>
                    </a>  
                </li>
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/salesReport">
                        <i class="icon material-icons md-comment"></i>
                        <span class="text">Sales Report</span>
                    </a>  
                </li>
            </ul>
        </nav>

    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                        <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i
                        class="material-icons md-apps"></i></button>
                <ul class="nav">

                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>

                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/admin/assets/imgs/people/avatar-2.png" alt="User" /></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories</h2>
                    <p>Add, edit or list/unlist a category</p>
                </div>
            </div>
            <div class="d-flex justify-content-center message"> 
                <%
                if(typeof message !== 'undefined'){
                    %>
                    <p><br><%= message %></p>
                    <%
                }
                %>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form action="" method="post">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Name</label>
                                    <input type="text" placeholder="Type here" name="cateName" class="form-control" id="product_name" required/>
                                </div>
                                
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" name="cateDescription" class="form-control" required></textarea>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary justify-content-center" type="submit">Create category</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive ">
                                <table class="table table-hover ">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Status</th>  
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <% cateData.forEach((cate,index) => { %>
                                            <td><b><%= index+1 %></b></td>
                                            <td><%= cate.cateName  %></td>
                                            <td><%= cate.cateDescription %> </td>
                                            <td>
                                                <% if(cate.is_listed === false) { %>
                                                <span class="badge rounded-pill alert-danger ">Unlisted</span>
                                                <% } else { %>
                                                <span class="badge rounded-pill alert-success">Listed</span>
                                                <% } %>
                                            </td>
                                            <td class="text-end" >
                                                <% if(cate.is_listed === false) { %>
                                                <button class="btn btn-md rounded font-sm " type="submit" >
                                                    <a href="/admin/listCategory/<%=cate._id%>" data-status="unblock" class="text-white">Listed</a>
                                                </button>
                                                <% } else { %>
                                                <button class="btn btn-md rounded font-sm " type="submit" >
                                                    <a href="/admin/unlistCategory/<%=cate._id%>" data-status="block" class="text-white">Unlisted</a>
                                                </button>
                                                <% } %>
                                            </td>
                                            <td>
                                                <button class="btn btn-md rounded font-sm " type="submit" > <a href="/admin/editCategory?id=<%=cate._id%>" class="text-white">Edit</button></a>
                                            </td>
                                        </tr>
                                        <% }); %>  
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- .col// -->
                    </div>
                    <!-- .row // -->
                </div>
                <!-- card body .// -->
            </div>
            <!-- card .// -->
            <br><br>
            
        </section>
        <!-- content-main end// -->

    </main>
    <script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/js/vendors/select2.min.js"></script>
    <script src="/admin/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin/assets/js/main.js?v=1.1" type="text/javascript"></script>



<%-include("../layout/admin/footer")-%>