<%-include("../layout/admin/header")-%>

    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <div class="header-center p-3">
                <a href="/admin/adminHome">
                    <h3 class="text-center font-weight-bolder text-uppercase">Elaine</h3>
                </a>
            </div>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i
                        class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside ">
                <li class="menu-item active p-2">
                    <a class="menu-link" href="/admin/adminHome">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/productsList">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/addCategory">
                        <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/customerList">
                        <i class="icon material-icons md-store"></i>
                        <span class="text">Customers</span>
                    </a>  
                </li>
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/orders">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>  
                </li>
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/coupons">
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Coupons</span>
                    </a>  
                </li>    
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/offers">
                        <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Offers</span>
                    </a>  
                </li> 
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/salesReport">
                        <i class="icon material-icons md-comment"></i>
                        <span class="text">Sales Report</span>
                    </a>  
                </li>                          
            </ul>                      
        </nav> 
    
    </aside>

    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                        
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar-2.png" alt="User" /></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/adminLogout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>                       
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Edit & Update Product</h2>
                    </div>
                </div>
                <div class="d-flex message m-3"> 
                    <%
                    if(typeof message !== 'undefined'){
                        %>
                        <p><br><%= message %></p>
                        <%
                    }
                    %>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">

                        <div class="card-body">
                            <form action="" id="editForm" method="post" enctype="">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label" >Product title</label>
                                    <input type="text" placeholder="Type here" name="prdctName" value="<%= prdctData.prdctName%> " class="form-control" id="product_name" />
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <input placeholder="Type here" name="prdctDescription" value="<%= prdctData.prdctDescription %>" class="form-control" rows="4">
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Regular price</label>
                                            <div class="row gx-2">
                                                <input placeholder="₹" type="text" name="prdctPrice" value="<%= prdctData.prdctPrice %>" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Quantity</label>
                                            <input placeholder="1" type="text" name="prdctQuantity" value="<%= prdctData.prdctQuantity %>" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="form-label">Category</label>
                                        <input placeholder="Type here" type="text" name="prdctCategory" value="<%= prdctData.categoryId.cateName %>" class="form-control" />
                                    </div>
      
                                </div>
                        </div>
                    </div>
                    <!-- card end// -->
                    <div>
                                        <input type="text" required name="prdctId" value="<%= prdctData._id %>" hidden>                  
                                <button class="btn btn-md rounded font-sm hover-up mt-1" type="submit">Submit</button>
                </div>
                            </form>
                                </div>
                <div class="col-lg-3 ">
                                    
                <form id="imageForm" enctype="multipart/form-data" method="post" action="">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Media</h4>
                        </div>

                        <% productImagesArray.forEach(image => { %>
                        <div class="d-flex">
                            <div class="m-2">
                                <img src="/processed_images/<%= image %>" alt="Userpic" style="height: 75px; width: 75px;" />
                            </div>
                            <div class="card-body">
                                <div class="input-upload">
                                    <button class="btn btn-md rounded font-sm hover-up" onclick="deleteImage('<%= image %>')" type="button">Delete</button>
                                </div>
                            </div>
                        </div>
                        <% }); %>

                        <% for (let i = 0; i < 4 - productImagesArray.length; i++) { %>
                        <div class="d-flex">
                            <div class="m-2">
                                <input class="form-control" name="prdctImage" type="file" accept="image/*" multiple />
                            </div>
                            <div id="preview<%= i %>" class="m-2"></div>
                        </div>
                        <% } %>
                        <input type="text" required name="prdctId" value="<%= prdctData._id %>" hidden>

                        <!-- Adjusted button container -->
                        <div class="d-flex justify-content-center mt-3 mb-3">
                            <button type="submit" class="btn btn-primary" style="width: auto;">Upload Images</button>
                        </div>
                    </div>
                </form>


                    </div>
    
                </div>
            </div>
        </section>
        <!-- content-main end// -->
        
    </main>
   


    <script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/js/vendors/select2.min.js"></script>
    <script src="/admin/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin/assets/js/main.js?v=1.1" type="text/javascript"></script>

    <!--Sweet Alert  -->
    <!-- Include SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    
<script>
    async function deleteImage(imageId) {
        const confirmDelete = await Swal.fire({
            title: 'Are you sure?',
                    text: "You want to delete this image?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, remove it!'
        });

        if (confirmDelete.isConfirmed) {
            try {
                const response = await fetch(`/admin/deleteProductImage?imageId=${imageId}`, {
                    method: 'DELETE'
                });
                
                if (response.ok) {
                    const data = await response.json();

                        window.location.reload();
                    
                } else {
                    Swal.fire({
                        title: 'Error!',
                        text: 'Failed to delete the image.',
                        icon: 'error'
                    });
                }
            } catch (error) {
                Swal.fire({
                    title: 'Error!',
                    text: 'An error occurred while deleting the image.',
                    icon: 'error'
                });
                console.error("Error:", error);
            }
        }
    }
</script>

<script>
    
    document.getElementById('imageForm').addEventListener('submit', async function (e){
        e.preventDefault();

        const formData = new FormData(this);
        const prdctId = document.querySelector('input[name="prdctId"]').value;
        formData.append('prdctId', prdctId); 

        // Validate image files
        const allowedExtensions = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        const fileInputs = document.querySelectorAll('input[type="file"]');
        let totalImages = 0;

        // Count existing images
        <% productImagesArray.forEach(() => { %>
            totalImages++;
        <% }); %>

        // Count new images
        fileInputs.forEach(input => {
            totalImages += input.files.length;
        });

        // Check if at least 4 images are selected
        if (totalImages < 4) {
            Swal.fire({
                title: 'Error!',
                text: 'Please upload at least 4 images.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
            return; // Stop the form submission
        }

        // Check each file's extension
        fileInputs.forEach(input => {
            for (let i = 0; i < input.files.length; i++) {
                const fileExtension = input.files[i].name.split('.').pop().toLowerCase();
                if (!allowedExtensions.includes(fileExtension)) {
                    Swal.fire({
                        title: 'Error!',
                        text: 'Allowed Extensions are: ' + allowedExtensions.join(', '),
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                    return; // Stop the form submission
                }
            }
        });

        try {
            const response = await fetch('/admin/uploadProductImages',{
                method: 'PUT',
                body: formData
            });

            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            const data = await response.json(); 

            if (data.message === "Please upload at least 4 images") {
                Swal.fire({
                    title: "Error!",
                    text: data.message,
                    icon: "error",
                    timer: 1500,
                    buttons: false
                });
            } else if(data.message === "Image added successfully"){
                Swal.fire({
                    title: "Success!",
                    text: data.message,
                    icon: "success",
                    timer: 1500,
                    buttons: false
                });
                setTimeout(function() {
                    location.reload();
                }, 1500);
            }
        } catch (error) {
            console.error('An error occurred:', error);
        }
    });

    
</script>


<%-include("../layout/admin/footer")-%>