
<%-include("../layout/admin/header")-%>
<style>

.card {
    width: 105%; 
}

.content-main {
    padding-left: 10px; 
}


</style>

    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <div class="header-center p-3">
                <a href="/admin/adminHome">
                    <h3 class="text-center font-weight-bolder text-uppercase">Elaine</h3>
                </a>
            </div>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i
                        class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside ">
                <li class="menu-item active p-2">
                    <a class="menu-link" href="/admin/adminHome">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/productsList">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/addCategory">
                        <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/customerList">
                        <i class="icon material-icons md-store"></i>
                        <span class="text">Customers</span>
                    </a>  
                </li>
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/orders">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>  
                </li>
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/coupons">
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Coupons</span>
                    </a>  
                </li>
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/offers">
                        <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Offers</span>
                    </a>  
                </li>
                <li class="menu-item p-2">
                    <a class="menu-link" href="/admin/salesReport">
                        <i class="icon material-icons md-comment"></i>
                        <span class="text">Sales Report</span>
                    </a>  
                </li>                                              
            </ul>                      
        </nav>
    
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                        <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                <ul class="nav">
                    
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/admin/assets/imgs/people/avatar-2.png" alt="User" /></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/adminLogout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List</h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="card mb-4">
                <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Order Placed Date</th>
                                    <th scope="col" class="text-end">Change Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% sortedOrderData.forEach((order,index) => { %>
                                    <% order.products.forEach((product) => { %>
                                <tr>
                                    <td><%= order.orderId %></td>
                                    <td><b><%= order.userName %></b></td>
                                    <td><%= order.email %></td>
                                    <td><%= product.productName %></td>
                                    <td>₹<%= product.totalPrice %></td>
                                    <td><span class="badge rounded-pill alert-warning"><%= product.status %></span></td>
                                    <td><%= order.date.toLocaleString('en-US', { year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' }) %></td>
                                    <td class="text-end">
                                        <a href="/admin/orderDetails?orderId=<%= order._id %>" class="btn btn-md rounded font-sm">Detail</a>
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm">
                                                <i class="material-icons md-more_horiz"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" onclick="handleShippedStatusChange('<%= order._id %>', 'Shipped')">Shipped</a>
                                                <a class="dropdown-item" href="#" onclick="handleDeliveredStatusChange('<%= order._id %>', 'Delivered')">Delivered</a>
                                                <a class="dropdown-item" href="#" onclick="handleOrderCancel('<%= order._id %>', '<%= product._id %>')">Cancel</a>
                                            </div>
                                        </div>
                                        <!-- dropdown //end -->
                                    </td>
                                </tr>
                                    <% }); %>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <!-- table-responsive //end -->
                </div>
                <!-- card-body end// -->
            </div>
            <br><br><br><br><br>
            <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
        <!-- content-main end// -->

    </main>
    <script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/js/vendors/select2.min.js"></script>
    <script src="/admin/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin/assets/js/main.js?v=1.1" type="text/javascript"></script>

    <!--Sweet Alert  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>

// handle status change  - shipped
async function handleShippedStatusChange(orderId, newStatus) {
    try {
        const response = await fetch(`/admin/shippedStatusChange/${orderId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ newStatus })
        });

        if (!response.ok) {
            throw new Error('Failed to update order status');
        }

        const responseData = await response.json();

        if (responseData.message) {
            Swal.fire({
                icon: 'success',
                title: 'Success',
                text: responseData.message
            });
            setTimeout(function() {
                    location.reload();
                }, 1500);
        } else if (responseData.error) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: responseData.error
            });
        }
    } catch (error) {
        console.error('Error:', error.message);
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Failed to update order status'
        });
    }
}


</script>

<script>

    // handle status change  - delivered
    async function handleDeliveredStatusChange(orderId, newStatus) {
        try {
            const response = await fetch(`/admin/deliveredStatusChange/${orderId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ newStatus })
            });

            if (!response.ok) {
                throw new Error('Failed to update order status');
            }

            const responseData = await response.json();

            if (responseData.message) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: responseData.message
                });
                setTimeout(function() {
                        location.reload();
                    }, 1500);
            } else if (responseData.error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: responseData.error
                });
            }
        } catch (error) {
            console.error('Error:', error.message);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Failed to update order status'
            });
        }
    }

</script>

<script>
// handle status change  - cancelled
    async function handleOrderCancel(orderId, productId) {
        try {
            const response = await fetch(`/admin/cancelledStatusChange/${orderId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ productId }) 
            });

            if (!response.ok) {
                throw new Error('Failed to update order status');
            }

            const responseData = await response.json();

            if (responseData.message) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: responseData.message
                });
                setTimeout(function() {
                        location.reload();
                    }, 1500);
            } else if (responseData.error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: responseData.error
                });
            }
        } catch (error) {
            console.error('Error:', error.message);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Failed to update order status'
            });
        }
    }


</script>




<%-include("../layout/admin/footer")-%>