<%-include("../layout/user/header")-%>

    <div class="page-wrapper">
        <header class="header header-6">
            <div class="header-top">
                <div class="container pt-1">
                    <div class="header-right">
                        <ul class="top-menu top-link-menu">
                            <li>
                                <ul>
                                    <li><a href="/userLogout"><i class="icon-user"></i>Logout</a></li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div>
            </div>

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                    <input type="search" class="form-control" name="q" id="q"
                                        placeholder="Search product ..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>
                    <div class="header-center">
                        <a href="userHome" class="logo">
                            <h3 class="text-center font-weight-bolder text-uppercase">Elaine</h3>
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <a href="#" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                            <span class="wishlist-txt">My Wishlist</span>
                        </a>
                        <div class="dropdown cart-dropdown">
                            <a href="cart" class="dropdown-toggle" role="button" aria-haspopup="true"
                                aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </div><!-- End .cart-dropdown -->
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="userHome">Home</a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <li><!-- start of pages -->
                                    <a href="products" class="sf">Products</a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- end of pages -->

                                <li><!-- start of pages -->
                                    <a href="#" class="sf">Contact</a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- end of pages -->

                                <li>
                                    <a href="#" class="sf">About Us</a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <li>
                                    <a href="#" class="sf">My Account</a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->

                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                    </div><!-- End .header-left -->
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        <main class="main">
            <div class="page-header text-center"
                style="background-image: url('/user/assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">My Account<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="userHome">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="dashboard">
                    <div class="container">
                        <div class="row">
                            <aside class="col-md-4 col-lg-3">
                                <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                            href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                            aria-selected="true">Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders"
                                            role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                            role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                            role="tab" aria-controls="tab-account" aria-selected="false">Account
                                            Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-change-password-link" data-toggle="tab" href="#tab-change-password"
                                            role="tab" aria-controls="tab-change-password" aria-selected="false">Change Password</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/userLogout">Sign Out</a>
                                    </li>
                                </ul>
                            </aside><!-- End .col-lg-3 -->

                            <div class="col-md-8 col-lg-9">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                        <p>Hello <span class="font-weight-normal text-dark"><%= userData.name %>,<br>
                                            From your account dashboard you can view your <a href="#tab-orders"
                                                class="tab-trigger-link ">recent orders</a>, manage your
                                            <a href="#tab-address" class="tab-trigger-link">shipping and billing
                                                addresses</a>,<br> and <a href="#tab-account" class="tab-trigger-link">edit
                                                your password and account details</a>.
                                        </p>
                                    </div><!-- .End .tab-pane -->

                                    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                        <p>No order has been made yet.</p>
                                        <a href="products" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
                                    </div><!-- .End .tab-pane -->

            <!-- ------------------------ Show available address ---------------------------- -->

                                    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                                        <p>The following addresses will be used on the checkout page by default.</p>

                                        <div class="row">

                                            <% if(!userData.address || userData.address.length===0) { %>
                                                <div class="col-lg-6">
                                                    <div class="card card-dashboard">
                                                        <div class="card-body">
                                                            <h3 class="card-title">Billing Address</h3>
                                                            <!-- End .card-title -->
                                                            <p>You have not set up this type of address yet.<br>
                                                                <!-- <a href="#" class="showAddAddress">Add address <i class="icon-edit"></i></a> -->
                                                            </p>
                                                        </div><!-- End .card-body -->
                                                    </div><!-- End .card-dashboard -->
                                                </div><!-- End .col-lg-6 -->
                                                <% } else { %>
                                                <% userData.address.forEach(element=> { %>
                                                <div class="col-lg-6">
                                                    <div class="card card-dashboard" id="cardDashboard">
                                                        <div class="card-body">
                                                            <h3 class="card-title">Billing Address</h3>
                                                            <!-- End .card-title -->
                                                            <p>
                                                                <%= element.fullname %><br>
                                                                <%= element.addressline %><br>
                                                                <%= element.city %>,
                                                                <%= element.state %><br>
                                                                <%= element.email %><br>
                                                                <%= element.pincode %><br>
                                                                <%= element.phone %>
                                                                <br><br>
                                                            <button class="edit-address btn btn-primary " id="edit-address<%=element._id%>"
                                                                    onclick="editAddressShow('<%=element._id%>')" data-edit-id="<%= element._id %>">
                                                                    Edit <i class="icon-edit"></i></button>&nbsp;&nbsp;
                                                            <a href="#" class="remove-address btn btn-primary" data-address-id="<%= element._id %>">Delete</a>
                                                            </p>
                                                        </div><!-- End .card-body -->
                                                    </div><!-- End .card-dashboard -->
                                                </div><!-- End .col-lg-6 -->
        <!-- ------------------------ end available address ---------------------------- -->
        <!-- ------------------------- edit address form ------------------------------- -->

                                                <div id="editAddress<%=element._id%>" style="display: none;">
                                                    
                                                    <form id="editAddressForm" class="edit-address-form" method="post" action="/editAddress">
                                                        <input type="hidden" id="editAddressId" name="editAddressId" value="<%= element._id %>">
                                                        
                                                        <div class="form-group">
                                                            <label for="name">Full Name </label>
                                                            <input type="text" class="form-control" id="fullname" value="<%= element.fullname %>"
                                                                name="fullname" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="addressline">Street address *</label>
                                                            <input type="text" class="form-control" id="addressline" placeholder="House number and Street name" value="<%= element.addressline %>"
                                                                name="addressline" required>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label for="city">Town / City *</label>
                                                                <input type="text" class="form-control" id="city" value="<%= element.city %>"
                                                                    name="city" required>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="state">State / County *</label>
                                                                <input type="text" class="form-control" id="state" value="<%= element.state %>"
                                                                    name="state" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label for="pincode">Postcode / ZIP *</label>
                                                                <input type="number" class="form-control" id="pincode" value="<%= element.pincode %>"
                                                                    name="pincode" required>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="phone">Phone *</label>
                                                                <input type="tel" class="form-control" id="phone" value="<%= element.phone %>"
                                                                    name="phone" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="email">Email address *</label>
                                                                <input type="email" class="form-control" id="email" value="<%= element.email %>" 
                                                                    name="email" required>
                                                            </div>
                                                        </div>
                                                        <button type="submit"
                                                            class="btn btn-primary">Update</button>
                                                    </form>
                                                </div>        
                                                <% }); %>
                                            <% } %>
                                        </div><!-- End .row -->
        <!-- ----------------------------------- end address form --------------------------------- -->
        <!-- --------------------------------- add new address button ----------------------------- -->

                                        <div class="col-lg-6">
                                            <button id="addNewAddressBtn" class="btn btn-primary showAddAddress">
                                                Add a new address <i class="icon-plus"></i>
                                            </button>
                                        </div>
                                    </div><!-- .End .tab-pane -->
        <!-- --------------------------------- end new address button ------------------------------ -->
        <!-- ------------------------------ new address form --------------------------------------- -->

                                    <div class="addAddress" style="display: none;">
                                        <form id="addressForm" method="post" action="/saveAddress">
                                            <div class="form-group">
                                                <label for="name">Full Name </label>
                                                <input type="text" class="form-control" id="fullname" name="fullname" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="addressline">Street address *</label>
                                                <input type="text" class="form-control" id="addressline" name="addressline" required>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="city">Town / City *</label>
                                                    <input type="text" class="form-control" id="city" name="city" required>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="state">State / County *</label>
                                                    <input type="text" class="form-control" id="state" name="state" required>
                                                </div>
                                            </div>
                                            
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="pincode">Postcode / ZIP *</label>
                                                    <input type="number" class="form-control" id="pincode" name="pincode" required>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="phone">Phone *</label>
                                                    <input type="tel" class="form-control" id="phone" name="phone" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email Address </label>
                                                <input type="email" class="form-control" id="email" name="email" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                            
                                        </form>
                                    </div>

        <!-- ------------------------------------- end address form ---------------------------------------- -->
        <!-- -------------------------------------- Account Details ---------------------------------------- -->


                                    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                        <div class="col-lg-6">
                                            <div class="card card-dashboard" id="cardDashboard">
                                                <div class="card-body">
                                                    <h3 class="card-title">Account Details</h3>
                                                    <!-- End .card-title -->
                                                    <p>
                                                        <%= userData.name %><br>
                                                        <%= userData.email %><br>
                                                        <%= userData.mobile %><br>
                                                    </p>
                                                </div><!-- End .card-body -->
                                            </div><!-- End .card-dashboard -->
                                        </div><!-- End .col-lg-6 -->
                                    </div><!-- .End .tab-pane -->

        <!-- ------------------------------------- end Account Details ---------------------------------------- -->
        <!-- ---------------------------------------- Change password ----------------------------------------- -->
        <div class="tab-pane fade" id="tab-change-password" role="tabpanel" aria-labelledby="tab-change-address-link">
            <form action="/changePassword" id="changePasswordForm" method="post">
                <div>
                    <p class="text-danger" id="changePasswordId"></p>
                </div>
                <div class="col-sm-6">
                    <label>Current password </label>
                    <input type="password" name="currentPassword" class="form-control">
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                    <label>New password </label>
		            <input type="password" name="newPassword" class="form-control">
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                    <label>Confirm new password</label>
		            <input type="password" name="confirmPassword" class="form-control mb-2">
                </div><!-- End .col-sm-6 -->

                <button type="submit" class="btn btn-outline-primary-2 m-3">
                    <span>SAVE CHANGES</span>
                </button>
                
            </form>
        </div>
        <!-- ---------------------------------------- end Change password ------------------------------------- -->
        
                                </div>
                            </div><!-- End .col-lg-9 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="/user/assets/images/elaine_final_logo_white.png" class="footer-logo"
                                    alt="Footer Logo" width="105" height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. </p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                            class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->


        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">

                <ul class="mobile-menu">
                    <li class="active">
                        <a href="userHome">Home</a>
                    </li>
                    <li>
                        <a href="#" class="sf">Products</a>
                    </li>
                    <li>
                        <a href="#" class="sf">Contact</a>
                    </li>
                    <li>
                        <a href="#" class="sf">About Us</a>
                    </li>
                    <li>
                        <a href="#" class="sf">My Account</a>
                    </li>
                </ul>

            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->



    <!-- Plugins JS File -->
    <script src="/user/assets/js/jquery.min.js"></script>
    <script src="/user/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/user/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/user/assets/js/jquery.waypoints.min.js"></script>
    <script src="/user/assets/js/superfish.min.js"></script>
    <script src="/user/assets/js/owl.carousel.min.js"></script>
    <script src="/user/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/user/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/user/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/user/assets/js/jquery.countdown.min.js"></script>


    <!-- Main JS File -->
    <script src="/user/assets/js/main.js"></script>
    <script src="/user/assets/js/demos/demo-6.js"></script>
    <script src="/user/assets/js/demos/demo-16.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--Sweet Alert  -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- for adding address -->
    <script>

        $(document).ready(function () {
            $('.showAddAddress').click(function (e) {
                e.preventDefault();
                $('.addAddress').toggle(); 
                $('.card-dashboard').hide(); 
            });
        });

    </script>

    <script>

    $('#addressForm').submit(function (e) {
        e.preventDefault();

        var formData = $(this).serialize();

        fetch('/saveAddress', {
            method: 'POST',
            body: formData,
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if(data.message === "Address saved successfully"){
                swal({
                    title: "Success!",
                    text: data.message,
                    icon: "success",
                    timer: 1500,
                    buttons: false
                });
                setTimeout(function() {
                    location.reload();
                }, 1500);
            }else{
                swal({
                    title: "Error!",
                    text: data.message,
                    icon: "error",
                    timer: 1500,
                    buttons: false
                });
            }
        })
        .catch(error => {
            var errorMessage = error.message || "Something went wrong";
            swal({
                title: "Error!",
                text: errorMessage,
                icon: "error",
                timer: 1000,
                buttons: false
            });
        });
    });


    </script>

    <!-- end for adding address -->
    <!-- editing address -->
    <script>
        function editAddressShow(id) {

            $(`#edit-address${id}`).click(function (e) {
                e.preventDefault();
                $('.card-dashboard').hide();
                $('.showAddAddress').hide();
                $(`#editAddress${id}`).show();
            });

        }

    </script>
    <script>
        
    $(document).ready(function () {
        // Edit button click
        $('.edit-address').click(function (e) {
            e.preventDefault();
            var editId = $(this).data('edit-id');
            $('#editAddressForm' + editId).submit(); 
        });

        // Edit address form submission
        $('.edit-address-form').submit(function (e) {
            e.preventDefault();
            var editId = $(this).find('#editAddressId').val();
            var formData = $(this).serialize();

            fetch('/editAddress/' + editId, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if(data.message === "Address updated successfully"){
                swal({
                    title: "Success!",
                    text: data.message,
                    icon: "success",
                    timer: 1500,
                    buttons: false
                });
                setTimeout(function() {
                    location.reload();
                }, 1500);
            }else{
                swal({
                    title: "Error!",
                    text: data.message,
                    icon: "error",
                    timer: 1500,
                    buttons: false
                });
            }
            })
            .catch(error => {
            var errorMessage = error.message || "Something went wrong";
            swal({
                title: "Error!",
                text: errorMessage,
                icon: "error",
                timer: 1000,
                buttons: false
            });
        });
        });
    });

    </script>
    <!-- removing address -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.remove-address').forEach(function (removeBtn) {
                removeBtn.addEventListener('click', function (e) {
                    e.preventDefault();

                    const addressId = this.getAttribute('data-address-id');
                    const addressElement = document.querySelector(`[data-address-id="${addressId}"]`);

                    fetch('/removeAddress', {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ addressId: addressId })
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('Address removed successfully:', data);
                        location.reload();
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                });
            });
        });
    </script>
    <!-- end removing address -->
    <script>

        $('#changePasswordForm').submit(function (e) {
            e.preventDefault();

            var formData = $(this).serialize();

            $.ajax({
                type: 'PUT',
                url: '/changePassword',
                data: formData,
                success: function (response) {

                    const changeId = document.getElementById("changePasswordId");
                    changeId.innerHTML = response.message;

                    $('#changePasswordForm')[0].reset();
                    
                    console.log('Password saved successfully:', response);
                },
                error: function (xhr, status, error) {

                    console.error(error);
                }
            });
        });

    </script>

    


    <%-include("../layout/user/footer")-%>