<%-include("../layout/user/header")-%>
<style>
.account-details-box {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background: rgb(213, 210, 210);
}
.billing-address-box {
    border: 1px solid #fff9f9;
    border-radius: 10px;
    padding: 20px 20px 20px 40px;
    margin-bottom: 20px;
    background: rgb(213, 210, 210);
}
.balance{font-size: 45px;color: rgb(164, 113, 11)}
.balance1{font-size: 18px;}
.revenue{font-size:14px;color:#147219;font-weight:500}
</style>

    <div class="page-wrapper">
        <header class="header header-6">
            <div class="header-top">
                <div class="container pt-1">
                    <div class="header-right">
                        <ul class="top-menu top-link-menu">
                            <li>
                                <ul>
                                    <li><a href="/userLogout"><i class="icon-user"></i>Logout</a></li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div>
            </div>

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                    <input type="search" class="form-control" name="q" id="q"
                                        placeholder="Search product ..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>
                    <div class="header-center">
                        <a href="userHome" class="logo">
                            <h3 class="text-center font-weight-bolder text-uppercase">Elaine</h3>
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <a href="wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                            <span class="wishlist-txt">My Wishlist</span>
                        </a>
                        <div class="dropdown cart-dropdown">
                            <a href="cart" class="dropdown-toggle" role="button" aria-haspopup="true"
                                aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </div><!-- End .cart-dropdown -->
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="userHome">Home</a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <li><!-- start of pages -->
                                    <a href="products" class="sf">Products</a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- end of pages -->

                                <li><!-- start of pages -->
                                    <a href="#" class="sf">Contact</a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- end of pages -->

                                <li>
                                    <a href="#" class="sf">About Us</a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <li>
                                    <a href="#" class="sf">My Account</a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->

                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                    </div><!-- End .header-left -->
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        <main class="main">
            <div class="page-header text-center"
                style="background-image: url('/user/assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">My Account<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="userHome">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="dashboard">
                    <div class="container">
                        <div class="row">
                        <aside class="col-md-4 col-lg-3">
                            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                        href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                        aria-selected="true">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders"
                                        role="tab" aria-controls="tab-orders" aria-selected="false">My Orders</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                        role="tab" aria-controls="tab-address" aria-selected="false">My Adresses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                        role="tab" aria-controls="tab-account" aria-selected="false">Account
                                        Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-coupon-link" data-toggle="tab" href="#tab-coupon"
                                        role="tab" aria-controls="tab-coupon" aria-selected="false">Available Coupons</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-change-password-link" data-toggle="tab" href="#tab-change-password"
                                        role="tab" aria-controls="tab-change-password" aria-selected="false">Change Password</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/userLogout">Sign Out</a>
                                </li>
                            </ul>
                        </aside><!-- End .col-lg-3 -->

        <div class="col-md-8 col-lg-9 ">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                    <p>Hello <span class="font-weight-normal text-dark"><%= userData.name %>,<br>
                        From your account dashboard you can view your <a href="#tab-orders"
                            class="tab-trigger-link ">recent orders</a>, manage your
                        <a href="#tab-address" class="tab-trigger-link">shipping and billing
                            addresses</a>,<br> and <a href="#tab-account" class="tab-trigger-link">edit
                            your password and account details</a>.
                    </p>
                </div><!-- .End .tab-pane -->
                <% if (!orderData || orderData.length === 0) { %>
                    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                        <p>No orders have been made yet.</p>
                        <a href="products" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
                    </div><!-- .End .tab-pane -->
                <% } else { %>
                    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                        <p class="text-center font-weight-bolder"><b>Order Details</b></p>
                        
                        <% if (orderData && orderData.length > 0) { %>
                    <% orderData.forEach((order) => { %>
                        <% let mainProductDisplayed = false; %>

                        <% order.products.forEach((product, index) => { %>
                            <% if (!mainProductDisplayed) { %>
                                <div class="product product-list ">
                                    <div class="row">
                                        <div class="col-6 col-lg-2">
                                            <figure class="product-media">
                                                <a href="#">
                                                    <img src="/processed_images/<%= product.productId.prdctImage[0] %>" alt="Product image">
                                                </a>
                                            </figure><!-- End .product-media -->
                                        </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-6 col-lg-3 order-lg-last">
                                <div class="product-list-action">

                                    <button class="btn btn-primary order-details-btn" type="submit">
                                        <a href="/orderDetails?orderId=<%= order._id %>" class="text-white">Order Details</a>
                                    </button>   

                                </div><!-- End .product-list-action -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-lg-6">
                                <div class="product-body product-action-inner">
                                    <div class="product-cat">
                                        <a href="#"><%= product.productId.categoryId.cateName %></a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="#"><%= product.productId.prdctName %></a></h3><!-- End .product-title -->
                                    <div class="product-content" style="display: inline-block;">
                                        <span style="font-weight: 500;">Total Amount :</span> ₹<%= order.totalAmount.toFixed(2) %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        <span style="font-weight: 500;">Items :</span> <%= order.products.length %>
                                    </div>
                                    <% if (order.products.length > 1) { %>
                                        <div class="product-nav product-nav-thumbs">
                                            <% order.products.slice(1).forEach((prod) => { %>
                                                <a href="#">
                                                    <img src="/processed_images/<%= prod.productId.prdctImage[0] %>" alt="Thumbnail">
                                                </a>
                                            <% }); %>
                                        </div><!-- End .product-nav -->
                                    <% } %>

                                </div><!-- End .product-body -->
                            </div><!-- End .col-lg-6 -->
                            
                        </div><!-- End .row -->
                    </div><!-- End .product -->
                    <% mainProductDisplayed = true; %>
                    <% } %>
                <% }); %>
            <% }); %>
        <% } %>
                        
                        <!-- Pagination -->
                        <% if (totalPages > 1) { %>
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                                        <a class="page-link" href="/myAccount?page=<%= currentPage - 1 %>" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <% for (let i = 1; i <= totalPages; i++) { %>
                                        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                            <a class="page-link" href="/myAccount?page=<%= i %>"><%= i %></a>
                                        </li>
                                    <% } %>
                                    <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                        <a class="page-link" href="/myAccount?page=<%= currentPage + 1 %>" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        <% } %>
                    </div><!-- .End .tab-pane -->
                <% } %>
                
            <!-- ------------------------ Show available address ---------------------------- -->

        <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
            <p>The following addresses will be used on the checkout page by default.</p>

            <div class="row">

                <% if(!userData.address || userData.address.length===0) { %>
                    <div class="col-lg-6">
                        <div class="card card-dashboard-address">
                            <div class="card-body">
                                <h3 class="card-title">Billing Address</h3>
                                <!-- End .card-title -->
                                <p>You have not set up this type of address yet.<br>
                                    <!-- <a href="#" class="showAddAddress">Add address <i class="icon-edit"></i></a> -->
                                </p>
                            </div><!-- End .card-body -->
                        </div><!-- End .card-dashboard -->
                    </div><!-- End .col-lg-6 -->
                    <% } else { %>
                    <% userData.address.forEach(element=> { %>
                    <div class="col-lg-6">
                        <div class="card card-dashboard-address" id="cardDashboard">
                            <div class="card-body">
                                <h3 class="card-title pt-3 pb-3">Billing Address</h3>
                                <!-- End .card-title -->
                                <div class="billing-address-box">
                                <p>
                                    <%= element.fullname %><br>
                                    <%= element.addressline %><br>
                                    <%= element.city %>,
                                    <%= element.state %><br>
                                    <%= element.email %><br>
                                    <%= element.pincode %><br>
                                    <%= element.phone %>
                                    <br><br>
                                <button class="edit-address btn btn-primary " id="edit-address<%=element._id%>"
                                        onclick="editAddressShow('<%=element._id%>')" data-edit-id="<%= element._id %>">
                                        Edit <i class="icon-edit"></i></button>&nbsp;&nbsp;
                                <a href="#" class="remove-address btn btn-primary" data-address-id="<%= element._id %>">Delete</a>
                                </p>
                                </div>
                            </div><!-- End .card-body -->
                        </div><!-- End .card-dashboard -->
                    </div><!-- End .col-lg-6 -->
        <!-- ------------------------ end available address ---------------------------- -->
        <!-- ------------------------- edit address form ------------------------------- -->

                    <div id="editAddress<%=element._id%>" style="display: none;">
                        
                        <form id="editAddressForm" class="edit-address-form" method="post" action="/editAddress">
                            <input type="hidden" id="editAddressId" name="editAddressId" value="<%= element._id %>">
                            
                            <div class="form-group">
                                <label for="name">Full Name </label>
                                <input type="text" class="form-control" id="fullname" value="<%= element.fullname %>"
                                    name="fullname" required>
                            </div>
                            <div class="form-group">
                                <label for="addressline">Street address *</label>
                                <input type="text" class="form-control" id="addressline" placeholder="House number and Street name" value="<%= element.addressline %>"
                                    name="addressline" required>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="city">Town / City *</label>
                                    <input type="text" class="form-control" id="city" value="<%= element.city %>"
                                        name="city" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="state">State / County *</label>
                                    <input type="text" class="form-control" id="state" value="<%= element.state %>"
                                        name="state" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="pincode">Postcode / ZIP *</label>
                                    <input type="number" class="form-control" id="pincode" value="<%= element.pincode %>"
                                        name="pincode" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="phone">Phone *</label>
                                    <input type="tel" class="form-control" id="phone" value="<%= element.phone %>"
                                        name="phone" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address *</label>
                                    <input type="email" class="form-control" id="email" value="<%= element.email %>" 
                                        name="email" required>
                                </div>
                            </div>
                            <button type="submit"
                                class="btn btn-primary">Update</button> 
                        </form>
                    </div>        
                    <% }); %>
                <% } %>
            </div><!-- End .row -->
        <!-- ----------------------------------- end address form --------------------------------- -->
        <!-- --------------------------------- add new address button ----------------------------- -->

                        <div class="col-lg-6 ">
                            <button id="addNewAddressBtn" class="btn btn-primary showAddAddress ">
                                Add a new address <i class="icon-plus"></i>
                            </button>
                        </div>
                    </div><!-- .End .tab-pane -->
        <!-- --------------------------------- end new address button ------------------------------ -->
        <!-- ------------------------------ new address form --------------------------------------- -->

                    <div class="addAddress" style="display: none;">
                        <form id="addressForm" method="post" action="/saveAddress">
                            <div class="form-group">
                                <label for="name">Full Name </label>
                                <input type="text" class="form-control" id="fullname" name="fullname" required>
                            </div>
                            <div class="form-group">
                                <label for="addressline">Street address *</label>
                                <input type="text" class="form-control" id="addressline" name="addressline" required>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="city">Town / City *</label>
                                    <input type="text" class="form-control" id="city" name="city" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="state">State / County *</label>
                                    <input type="text" class="form-control" id="state" name="state" required>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="pincode">Postcode / ZIP *</label>
                                    <input type="number" class="form-control" id="pincode" name="pincode" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="phone">Phone *</label>
                                    <input type="tel" class="form-control" id="phone" name="phone" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email Address </label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                            
                        </form>
                    </div>

        <!-- ------------------------------------- end address form ---------------------------------------- -->
        <!-- -------------------------------------- Account Details ---------------------------------------- -->


        <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-lg-12 ">
                        <div class="card card-dashboard-profile  " id="cardDashboard">
                            <div class="d-flex">
                            <div class="card-body">
                                <h3 class="card-title pt-3 pb-3">Account Details</h3>
                                <!-- End .card-title -->
                                <div class="account-details-box">
                                    <p>
                                        <strong>Name:</strong> <%= userData.name %><br>
                                        <strong>Email:</strong> <%= userData.email %><br>
                                        <strong>Mobile:</strong> <%= userData.mobile %><br>
                                    </p>
                                    <button class="btn btn-primary edit-profile-btn" data-user-id="<%= userData._id %>">
                                        Edit Profile
                                    </button>
                                </div><!-- End .account-details-box -->
                            </div><!-- End .card-body -->
                            <div class="card-body">
                                <h3 class="card-title pt-3 pb-3">Wallet</h3>
                                <!-- End .card-title -->
                                <div class="account-details-box">
                                    <p>
                                        <strong>Total Amount: &nbsp;&nbsp;Rs.<%= userData.wallet.toFixed(2) %></strong> <br>
                                    </p>
                                    <button class="btn btn-primary show-walletHistory-btn" data-user-id="<%= userData._id %>" >
                                        Transaction History
                                    </button>
                                </div><!-- End .account-details-box -->
                            </div><!-- End .card-body -->
                        </div>
                        </div><!-- End .card-dashboard -->
                    </div><!-- End .col-lg-6 -->
                </div><!-- End .row -->
            </div><!-- End .container-fluid -->
        </div><!-- .End .tab-pane -->
        
        
        <!-- ------------------------------------- end Account Details ---------------------------------------- -->
        <!-- ---------------------------------------- edit profile ----------------------------------------- -->

        <div id="user-profile-edit<%=userData._id%>" class="editProfile" style="display: none;">
            <form action="/editProfile" id="editUserProfile" method="post">

                <div class="col-sm-6">
                    <label>Name </label>
                    <input type="text" name="name" value="<%= userData.name %>" class="form-control">
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                    <label><span>Email id</span></label>
		            <input type="email" name="email" value="<%= userData.email %>" class="form-control" readonly>
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                    <label>Mobile Number</label>
		            <input type="number" name="mobile" value="<%= userData.mobile %>" class="form-control mb-2">
                </div><!-- End .col-sm-6 -->

                <button type="submit" class="btn btn-outline-primary-2 m-3">
                    <span>SAVE CHANGES</span>
                </button>
                
            </form>
        </div>
        
        <!-- ---------------------------------------- end edit profile ------------------------------------- -->
        <!-- --------------------------------------- Wallet Transaction History ------------------------------------- -->
        <div id="user-wallet-history<%=userData._id%>" class="editProfile" style="display: none;">
            <div class="container ">
                <div class="row g-0">
                    <div class="col-md-8" >
                        <div class="p-0 bg-white d-flex " >
                            <div class="p-5">
                                <h6 class="account">Account Balance</h6>
                                <span class="mt-0 mb-3 balance">₹<%= userData.wallet.toFixed(2)  %></span>
                            </div>
                            <div class="p-5">
                                <% let walletCredit = 0 %>
                                <% userData.walletHistory.forEach(wallet => { %>
                                    <% if (wallet.status === 'Credited') { %>
                                        <% walletCredit += wallet.amount %>
                                    <% } %>
                                <% }) %>
                                    <h6 class="account mt-1 text-success">Total Credited Amount</h6>
                                    <span class="mt-1 font-weight-bolder text-success balance1">₹<%= walletCredit.toFixed(2)  %></span>
                            </div>
                            <div class="p-5">
                                <% let walletDebit = 0 %>
                                <% userData.walletHistory.forEach(wallet => { %>
                                    <% if (wallet.status === 'Debited') { %>
                                        <% walletDebit += wallet.amount %>
                                        <% } %>
                                <% }) %>
                                <h6 class="account mt-1 text-danger">Total Debited Amount</h6>
                                <span class="mt-1 balance1 font-weight-bolder text-danger">₹<%= walletDebit.toFixed(2)  %></span>
                                    
                            </div>
                        </div>                      
                    </div>
                    <div class="col-md-8 mt-2 border-right">
                        <div class="bg-white">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="heading1">Wallet Transaction History</h6>
                            </div>
                            
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <thead>
                                        <th>Description</th>
                                        <th>Ammount</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                    </thead>
                                    <tbody>
                                        <% walletHistory.forEach(wallet => { %>
                                        <tr>
                                            <td><%= wallet.reason %></td>
                                            <td><%= wallet.amount.toFixed(2) %></td>
                                            <td><%= wallet.date.toLocaleDateString() %></td>
                                            <% if (wallet.status === 'Credited') { %>
                                                <td><span style="color: #147219; font-weight: bolder;"><%= wallet.status %></span></td>
                                            <% }else{ %>
                                                <td><span style="color: #f70000; font-weight: bolder;"><%= wallet.status %></span></td>
                                            <% } %>
                                        </tr>
                                        <% }) %>
                                    </tbody>  
                                </table>       
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <% if (totalWalletPages > 1) { %>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item <%= currentWalletPage === 1 ? 'disabled' : '' %>">
                            <a class="page-link" href="/myAccount?walletPage=<%= currentWalletPage - 1 %>" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <% for (let i = 1; i <= totalWalletPages; i++) { %>
                            <li class="page-item <%= currentWalletPage === i ? 'active' : '' %>">
                                <a class="page-link" href="/myAccount?walletPage=<%= i %>"><%= i %></a>
                            </li>
                        <% } %>
                        <li class="page-item <%= currentWalletPage === totalWalletPages ? 'disabled' : '' %>">
                            <a class="page-link" href="/myAccount?walletPage=<%= currentWalletPage + 1 %>" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            <% } %>
        </div>
        <!-- ------------------------------------- end Wallet Transaction History ----------------------------------- -->
        <!-- ---------------------------------------- coupons ------------------------------------- -->
        <div class="tab-pane fade" id="tab-coupon" role="tabpanel" aria-labelledby="tab-coupon-link">
            <div class="coupon-container">
                <% couponData.forEach(coupon => { %>
                <div class="card coupon_card">
                    <div class="coupon-image1"><img src="https://i.imgur.com/DC94rZe.png" width="150"></div>
                    <div class="coupon-image2"><img src="https://i.imgur.com/DC94rZe.png" width="150"></div>
                    <div class="cross-bg"></div>
                    <div class="content coupon_content">
                        <div class="text-center text-uppercase text-white off">
                            <span class="coupon_class">Flat</span>
                            <h1 class="mt-0 coupon_h1">₹<%= coupon.discount %> <span class="coupon_class">OFF</span></h1>
                        </div>
                        <div class="text-center text-white">
                            <span class="plus text-uppercase"><%= coupon.name %></span>
                        </div>
                        <div class="text-center">
                            <h3 class="m-0 coupon-des"><%= coupon.description %></h3>
                        </div>
                        <div class="text-center">
                            <h2 class="m-1 coupon_h2">Minimum Purchase Amount: ₹<%= coupon.minimumAmount %></h2>
                        </div>
                        <div class="text-center text-uppercase text-dark">
                            <small class="small-code">Validity:
                                <% if (coupon.validity > Date.now()) { %>
                                    <span class="font-weight-bolder"><%= coupon.validity.toLocaleDateString() %></span>
                                <% } else { %>
                                    <span class="text-danger font-weight-bolder">Expired</span>
                                <% } %>
                            </small>
                        </div>
                        <div class="px-3 mt-auto">
                            <div class="code text-center mt-1">
                                <span class="coupon_class font-weight-bolder"><%= coupon.code %></span>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>

        <!-- ---------------------------------------- end coupons ------------------------------------- -->

        <!-- ---------------------------------------- Change password ----------------------------------------- -->
        <div class="tab-pane fade" id="tab-change-password" role="tabpanel" aria-labelledby="tab-change-address-link">
            <form action="/changePassword" id="changePasswordForm" method="post">
                <!-- <div>
                    <p class="text-danger" id="changePasswordId"></p>
                </div> -->
                <div class="col-sm-6">
                    <label>Current password </label>
                    <input type="password" name="currentPassword" class="form-control">
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                    <label>New password </label>
		            <input type="password" name="newPassword" class="form-control">
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                    <label>Confirm new password</label>
		            <input type="password" name="confirmPassword" class="form-control mb-2">
                </div><!-- End .col-sm-6 -->

                <button type="submit" class="btn btn-outline-primary-2 m-3">
                    <span>SAVE CHANGES</span>
                </button>
                
            </form>
        </div>
        <!-- ---------------------------------------- end Change password ------------------------------------- -->
        
                                </div>
                            </div><!-- End .col-lg-9 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="/user/assets/images/elaine_final_logo_white.png" class="footer-logo"
                                    alt="Footer Logo" width="105" height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. </p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                            class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">How to shop on Elaine</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contactUs">Contact us</a></li>
                                    <li><a href="userLogin">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="userSignup">Sign Up</a></li>
                                    <li><a href="cart">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->


        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">

                <ul class="mobile-menu">
                    <li class="active">
                        <a href="userHome">Home</a>
                    </li>
                    <li>
                        <a href="#" class="sf">Products</a>
                    </li>
                    <li>
                        <a href="#" class="sf">Contact</a>
                    </li>
                    <li>
                        <a href="#" class="sf">About Us</a>
                    </li>
                    <li>
                        <a href="#" class="sf">My Account</a>
                    </li>
                </ul>

            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->



    <!-- Plugins JS File -->
    <script src="/user/assets/js/jquery.min.js"></script>
    <script src="/user/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/user/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/user/assets/js/jquery.waypoints.min.js"></script>
    <script src="/user/assets/js/superfish.min.js"></script>
    <script src="/user/assets/js/owl.carousel.min.js"></script>
    <script src="/user/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/user/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/user/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/user/assets/js/jquery.countdown.min.js"></script>


    <!-- Main JS File -->
    <script src="/user/assets/js/main.js"></script>
    <script src="/user/assets/js/demos/demo-6.js"></script>
    <script src="/user/assets/js/demos/demo-16.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--Sweet Alert  -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- for adding address -->
    <script>

        $(document).ready(function () {
            $('.showAddAddress').click(function (e) {
                e.preventDefault();
                $('.addAddress').toggle(); 
                $('.card-dashboard-address').hide(); 
                $('#user-wallet-history').hide();
                $('.editProfile').hide();
            });
        });

    </script>

    <script>

    $('#addressForm').submit(function (e) {
        e.preventDefault();

        var formData = $(this).serialize();

        fetch('/saveAddress', {
            method: 'POST',
            body: formData,
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
        return response.json();
        })
        .then(data => {
            if(data.message === "Address saved successfully"){
                Swal.fire({
                    title: "Success!",
                    text: data.message,
                    icon: "success",
                    timer: 1500,
                    buttons: false
                });
                setTimeout(function() {
                    location.reload();
                }, 1500);
            }else{
                Swal.fire({
                    title: "Error!",
                    text: data.message,
                    icon: "error",
                    timer: 1500,
                    buttons: false
                });
            }
        })
        .catch(error => {
            var errorMessage = error.message || "Something went wrong";
            Swal.fire({
                title: "Error!",
                text: errorMessage,
                icon: "error",
                timer: 1000,
                buttons: false
            });
        });
    });

    </script>

    <!-- end for adding address -->
    <!-- editing address -->
    <script>

        function editAddressShow(id) {

            $(`#edit-address${id}`).click(function (e) {
                e.preventDefault();
                $('.card-dashboard-address').hide();
                $('.showAddAddress').hide();
                $('.editProfile').hide();
                $('#user-wallet-history').hide();
                $(`#editAddress${id}`).show();
            });

        }

    </script>
    <script>
        
    $(document).ready(function () {
        $('.edit-address').click(function (e) {
            e.preventDefault();
            var editId = $(this).data('edit-id');
            $('#editAddressForm' + editId).submit(); 
        });

        $('.edit-address-form').submit(function (e) {
            e.preventDefault();
            var editId = $(this).find('#editAddressId').val();
            var formData = $(this).serialize();

            fetch('/editAddress/' + editId, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if(data.message === "Address updated successfully"){
                    Swal.fire({
                        title: "Success!",
                        text: data.message,
                        icon: "success",
                        timer: 1500,
                        buttons: false
                });
                setTimeout(function() {
                    location.reload();
                }, 1500);
            }else{
                Swal.fire({
                    title: "Error!",
                    text: data.message,
                    icon: "error",
                    timer: 1500,
                    buttons: false
                });
            }
            })
            .catch(error => {
            var errorMessage = error.message || "Something went wrong";
            Swal.fire({
                title: "Error!",
                text: errorMessage,
                icon: "error",
                timer: 1000,
                buttons: false
            });
        });
        });
    });

    </script>
    <!-- removing address -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.remove-address').forEach(function (removeBtn) {
                removeBtn.addEventListener('click', function (e) {
                    e.preventDefault();
    
                    const addressId = this.getAttribute('data-address-id');
                    const addressElement = document.querySelector(`[data-address-id="${addressId}"]`);
    
                    Swal.fire({
                        title: "Are you sure?",
                        text: "Once deleted, you will not be able to recover this address!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete) {
                            fetch('/removeAddress', {
                                method: 'DELETE',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ addressId: addressId })
                            })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.json();
                            })
                            .then(data => {
                                console.log('Address removed successfully:', data);
                                location.reload();
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });
                        } 
                    });
                });
            });
        });
    </script>
    
    <!-- end removing address -->
    <!-- edit User Profile -->
    <script>
        $(document).ready(function () {
            $(document).on('click', '.edit-profile-btn', function (e) {
                e.preventDefault();
                var userId = $(this).data('user-id'); 
                $('.card-dashboard-profile').hide();
                $('#user-wallet-history').hide();
                $(`#user-profile-edit${userId}`).show();
            });
        });
    </script>

    <script>
        $('#editUserProfile').submit(function (e) {
            e.preventDefault();

            var formData = $(this).serialize(); 

            fetch('/userProfile', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: formData 
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if(data.message === "Enter a valid name.!"){
                    Swal.fire({
                                position: "bottom",
                                text: 'Enter a valid name.!',
                                showConfirmButton: false,
                                color: "#fff",
                                background:"#000000",
                                timer: 500,
                                width: 300,
                            });
                }else if(data.message === "Enter a valid mobile number.!"){
                    Swal.fire({
                                position: "bottom",
                                text: 'Enter a valid mobile number.!',
                                showConfirmButton: false,
                                color: "#fff",
                                background:"#000000",
                                timer: 500,
                                width: 300,
                            });
                }else if(data.message === "Profile details updated successfully.!"){
                    Swal.fire({
                                position: "bottom",
                                text: 'Profile details updated successfully.!',
                                showConfirmButton: false,
                                color: "#fff",
                                background:"#000000",
                                timer: 1500,
                                width: 300,
                            });
                    setTimeout(function() {
                        location.reload();
                    }, 1500);
                }else {
                    Swal.fire({
                                position: "bottom",
                                text: data.message,
                                showConfirmButton: false,
                                color: "#fff",
                                background:"#000000",
                                timer: 500,
                                width: 300,
                            });
                }
            })
            .catch(error => {
                console.error('Error updating user profile:', error);
                Swal.fire({
                        position: "bottom",
                        text: "Something went wrong",
                        showConfirmButton: false,
                        color: "#fff",
                        background:"#000000",
                        timer: 500,
                        width: 300,
                    });
            });
        });

    </script>

    <script>
        $(document).ready(function () {
            $(document).on('click', '.show-walletHistory-btn', function (e) {
                e.preventDefault();
                var userId = $(this).data('user-id'); 
                $('.card-dashboard-profile').hide();
                $(`#user-wallet-history${userId}`).show();
            });
        });
    </script>

    <script>

        document.getElementById('changePasswordForm').addEventListener('submit', function (e) {
            e.preventDefault();

            var formData = new FormData(this);

            fetch('/changePassword', {
                method: 'PUT',
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // const changeId = document.getElementById('changePasswordId');
                // changeId.innerHTML = data.message;

                document.getElementById('changePasswordForm').reset();

                if(data.message === 'New password cannot be the same as current password.'){
                    Swal.fire({
                        position: "bottom",
                        text: "New password cannot be the same as current password.",
                        showConfirmButton: false,
                        color: "#fff",
                        background:"#000000",
                        timer: 1500,
                        width: 300,
                    });
                }else if(data.message === 'Password changed successfully'){
                    Swal.fire({
                                position: "bottom",
                                text: 'Password changed successfully',
                                showConfirmButton: false,
                                color: "#fff",
                                background:"#000000",
                                timer: 1500,
                                width: 300,
                            });
                    setTimeout(function() {
                        location.reload();
                    }, 1500);
                }else {
                    Swal.fire({
                                position: "bottom",
                                text: data.message,
                                showConfirmButton: false,
                                color: "#fff",
                                background:"#000000",
                                timer: 1500,
                                width: 300,
                            });
                }

            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                        position: "bottom",
                        text: "Something went wrong",
                        showConfirmButton: false,
                        color: "#fff",
                        background:"#000000",
                        timer: 1500,
                        width: 300,
                    });
            });
        });


    </script>


    <%-include("../layout/user/footer")-%>