<%-include("../layout/user/header")-%>
<style>
.track-line {
height: 2px !important;
background-color: #488978;
opacity: 1;
}

.dot {
height: 10px;
width: 10px;
margin-left: 3px;
margin-right: 3px;
margin-top: 0px;
background-color: #488978;
border-radius: 50%;
display: inline-block
}

.big-dot {
height: 15px;
width: 15px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
background-color: #488978;
border-radius: 50%;
display: inline-block;
}

.big-dot i {
font-size: 12px;
}

.card-stepper {
z-index: 0
}
</style>

<div class="page-wrapper">
    <div class="page-wrapper">
        <header class="header header-6">
            <div class="header-top">
                <div class="container pt-1">
                    <div class="header-right">
                        <ul class="top-menu top-link-menu">
                            <li>
                                <ul>
                                    <li><a href="/userLogout"><i class="icon-user"></i>Logout</a></li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div>
            </div>

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <button class="btn btn-primary" type="submit"><i
                                            class="icon-search"></i></button>
                                    <input type="search" class="form-control" name="q" id="q"
                                        placeholder="Search product ..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>
                    <div class="header-center">
                        <a href="userHome" class="logo">
                            <h3 class="text-center font-weight-bolder text-uppercase">Elaine</h3>
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <a href="#" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                            <span class="wishlist-txt">My Wishlist</span>
                        </a>
                        <div class="dropdown cart-dropdown">
                            <a href="cart" class="dropdown-toggle" role="button" aria-haspopup="true"
                                aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </div><!-- End .cart-dropdown -->
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="userHome">Home</a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <li><!-- start of pages -->
                                    <a href="products" class="sf">Products</a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- end of pages -->

                                <li><!-- start of pages -->
                                    <a href="contactUs" class="sf">Contact</a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- end of pages -->

                                <li>
                                    <a href="#" class="sf">About Us</a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <li>
                                    <a href="myAccount" class="sf">My Account</a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
    <button class="mobile-menu-toggler">
        <span class="sr-only">Toggle mobile menu</span>
        <i class="icon-bars"></i>
    </button>
    </div><!-- End .header-left -->
    </div><!-- End .container -->
    </div><!-- End .header-bottom -->
    </header><!-- End .header -->

    <main class="main">
        <div class="page-header text-center"
            style="background-image: url('/user/assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Order Details<span>Orders</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->

    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-content"> 
            <div class="container-fluid"> 

                <section class=" gradient-custom">
                    <div class="container py-5 ">
                      <div class="row d-flex justify-content-center align-items-center h-100">
                        
                        <div class="col-lg-12 col-xl-10">
                          <div class="card" style="border-radius: 10px;">

                            <div class="card-header px-4 py-5">
                              <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #dc945a;"><%= orderData[0].userName%></span>!</h5>
                            </div>
                            
                            <div class="card-body p-4">
                              <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0" style="color: #dc945a;">Receipt</p>
                              </div>
                              <% orderData.forEach((order, orderIndex) => { %>
                                <% order.products.forEach((product, productIndex) => { %>
                              <div class="card shadow-0 border mb-4">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-2 my-3">
                                        <img src="/uploads/<%= productsData[orderIndex][productIndex].productData.prdctImage[0] %>" alt="Product image">
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                      <p class="text-muted mb-0"><%= productsData[orderIndex][productIndex].productData.prdctName %></p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                      <p class="text-muted mb-0 "><%= productsData[orderIndex][productIndex].cateName %></p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                      <p class="text-muted mb-0 "><%= order.date.toDateString() %></p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                      <p class="text-muted mb-0 ">Qty: <%= product.quantity %></p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                      <p class="text-muted mb-0 ">₹<%= product.totalPrice %></p>
                                    </div>
                                  </div>
                                  <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                                  <div class="row d-flex align-items-center">
                                    <div class="col-md-2">
                                      <p class="text-muted mb-0 small">Track Order</p>
                                    </div>
                                    
                                    <div class="col-md-10">
                                        <div class="d-flex flex-row justify-content-between align-items-center align-content-center">
                                            <span class="dot"></span>
                                            <% if(product.status == "Order Placed") { %>
                                                <hr class="flex-fill track-line"><span class="dot"></span>
                                            <% } else if(product.status == "Order Shipped") { %>
                                                <hr class="flex-fill track-line"><span class="dot"></span>

                                                <hr class="flex-fill track-line "><span class="dot"></span>
                                            <% } else if(product.status == "Order Delivered") { %>
                                                <hr class="flex-fill track-line"><span class="dot"></span>

                                                <hr class="flex-fill track-line "><span class="dot"></span>
                                                <hr class="flex-fill track-line"><span class="dot"></span>
                                            <% } %>
                                            <hr class="flex-fill track-line"><span class="d-flex justify-content-center align-items-center big-dot dot">
                                                <i class="fa fa-check text-white"></i>
                                            </span>
                                        </div>
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <% if(product.status == "Order Placed") { %>
                                                <div class="d-flex flex-column small align-items-start">
                                                    <span><%= order.date.toDateString() %></span>
                                                    <span>Order placed</span>
                                                    
                                                </div>
                                                
                                            <% } else if(product.status == "Order Shipped") { %>
                                                <div class="d-flex flex-column small align-items-start">
                                                    <span><%= order.date.toDateString() %></span>
                                                    <span>Order placed</span>
                                                </div>
                                                 <div class="d-flex flex-column small align-items-start">
                                                    <span><%= order.date.toDateString() %></span>
                                                    <span>Order placed</span>
                                                </div>
                                                <div class="d-flex flex-column small justify-content-center align-items-center">
                                                    <span><%= order.date.toDateString() %></span>
                                                    <span>Order Shipped</span>
                                                </div>
                                            <% } else if(product.status == "Order Delivered") { %>
                                                <div class="d-flex flex-column small align-items-start">
                                                    <span><%= order.date.toDateString() %></span>
                                                    <span>Order placed</span>
                                                </div>
                                                <div class="d-flex flex-column small align-items-start">
                                                    <span><%= order.date.toDateString() %></span>
                                                    <span>Order placed</span>
                                                </div>
                                                <div class="d-flex flex-column small justify-content-center align-items-center">
                                                    <span><%= order.date.toDateString() %></span>
                                                    <span>Order Shipped</span>
                                                </div>
                                                <div class="d-flex flex-column small align-items-end">
                                                    <span><%= order.date.toDateString() %></span>
                                                    <span>Order Delivered</span>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                    

                                  </div>
                                </div>
                              </div>
                              
                              <% }); %>
                              <% }); %>
                              <div class="d-flex justify-content-between pt-2">
                                <p class="fw-bold mb-0">Order Details</p>
                                <p class="text-muted mb-0"><span class="fw-bold me-4">Total:</span> ₹<%= orderData[0].totalAmount %>.00</p>
                              </div>
                  
                              <div class="d-flex justify-content-between pt-2">
                                <p class="text-muted mb-0">Payment Mode: &nbsp; <%= orderData[0].payment %></p>
                                <p class="text-muted mb-0"><span class="fw-bold me-4"></span></p>
                              </div>
                            <br>
                            <div class="card " style="max-width: 30rem;">
                                <div class="card-header  text-dark"><b>Delivery Address</b></div>
                                <div class="card-body">
                                  <p class="card-text"><%= address.fullname %></p>
                                  <p class="card-text"><%= address.addressline %>, <%= address.city %>, <%= address.state %>, pin: <%= address.pincode %></p>
                                  <p class="card-text"> <%= address.email %></p>
                                  <p class="card-text">Phone:</span> <%= address.phone %></p>
                                </div>
                              </div>
                              
                              
                  
                              <div class="d-flex justify-content-between mb-5">
                                <p class="text-muted mb-0"></p>
                                <p class="text-muted mb-0"><span class="fw-bold text-dark me-4">Delivery Charges:</span> ₹0.00</p>
                              </div>
                            </div>
                            
                            <div class="card-footer border-0 px-4 py-5"
                              style=" border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                              <h5 class="d-flex align-items-center justify-content-end text-dark text-uppercase mb-0">Total
                                paid: <span class="h2 mb-0 ms-2">&nbsp;&nbsp;₹<%= orderData[0].totalAmount %></span></h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>                               
                            
            </div>
        </div>
    </div>
    </main>     

    <footer class="footer">
        <div class="footer-middle border-0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget widget-about">
                            <img src="user/assets/images/elaine_final_logo_white.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                            <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>
    
                            <div class="social-icons">
                                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
    
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->
    
                            <ul class="widget-list">
                                <li><a href="about.html">About Molla</a></li>
                                <li><a href="#">How to shop on Molla</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="login.html">Log in</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
    
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->
    
                            <ul class="widget-list">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
    
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">My Account</h4><!-- End .widget-title -->
    
                            <ul class="widget-list">
                                <li><a href="#">Sign In</a></li>
                                <li><a href="cart.html">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->
    </footer><!-- End .footer -->
    
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    
    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
    
    <div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>
    
        <form action="#" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                placeholder="Search in..." required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>
    
        <nav class="mobile-nav">
    
            <ul class="mobile-menu">
                <li class="active">
                    <a href="userHome">Home</a>
                </li>
                <li>
                    <a href="#" class="sf">Products</a>
                </li>
                <li>
                    <a href="#" class="sf">Contact</a>
                </li>
                <li>
                    <a href="#" class="sf">About Us</a>
                </li>
                <li>
                    <a href="#" class="sf">My Account</a>
                </li>
            </ul>
    
        </nav><!-- End .mobile-nav -->
    
        <div class="social-icons">
            <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container --> 
    
        <!-- Plugins JS File -->
        <script src="/user/assets/js/jquery.min.js"></script>
        <script src="/user/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/user/assets/js/jquery.hoverIntent.min.js"></script>
        <script src="/user/assets/js/jquery.waypoints.min.js"></script>
        <script src="/user/assets/js/superfish.min.js"></script>
        <script src="/user/assets/js/owl.carousel.min.js"></script>
        <script src="/user/assets/js/bootstrap-input-spinner.js"></script>
        <script src="user/assets/js/bootstrap-input-spinner.js"></script>
        <script src="user/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="user/assets/js/jquery.countdown.min.js"></script>
    
    
        <!-- Main JS File -->
        <script src="/user/assets/js/main.js"></script>
        <script src="user/assets/js/demos/demo-6.js"></script>
        <script src="user/assets/js/demos/demo-16.js"></script>

    <%-include("../layout/user/footer")-%>