<%-include("../layout/user/header")-%>

    <div class="page-wrapper">
        <div class="page-wrapper">
            <header class="header header-6">
                <div class="header-top">
                    <div class="container pt-1">
                        <div class="header-right">
                            <div class="social-icons social-icons-color">
                                <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                                        class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                                        class="icon-twitter"></i></a>
                                <a href="#" class="social-icon social-pinterest" title="Instagram" target="_blank"><i
                                        class="icon-pinterest-p"></i></a>
                                <a href="#" class="social-icon social-instagram" title="Pinterest" target="_blank"><i
                                        class="icon-instagram"></i></a>
                            </div><!-- End .soial-icons -->
                            <ul class="top-menu top-link-menu">
                                <li>
                                    <ul>
                                        <li><a href="/userLogout"><i class="icon-user"></i>Logout</a></li>
                                    </ul>
                                </li>
                            </ul><!-- End .top-menu -->
                        </div><!-- End .header-right -->
                    </div>
                </div>

                <div class="header-middle">
                    <div class="container">
                        <div class="header-left">
                            <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                                <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                                <form action="#" method="get">
                                    <div class="header-search-wrapper search-wrapper-wide">
                                        <label for="q" class="sr-only">Search</label>
                                        <button class="btn btn-primary" type="submit"><i
                                                class="icon-search"></i></button>
                                        <input type="search" class="form-control" name="q" id="q"
                                            placeholder="Search product ..." required>
                                    </div><!-- End .header-search-wrapper -->
                                </form>
                            </div><!-- End .header-search -->
                        </div>
                        <div class="header-center">
                            <a href="userHome" class="logo">
                                <h3 class="text-center font-weight-bolder text-uppercase">Elaine</h3>
                            </a>
                        </div><!-- End .header-left -->

                        <div class="header-right">
                            <a href="#" class="wishlist-link">
                                <i class="icon-heart-o"></i>
                                <span class="wishlist-txt">My Wishlist</span>
                            </a>
                            <div class="dropdown cart-dropdown">
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" data-display="static">
                                    <i class="icon-shopping-cart"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-cart-action">
                                        <a href="cart.html" class="btn btn-primary">View Cart</a>
                                        <a href="checkout.html"
                                            class="btn btn-outline-primary-2"><span>Checkout</span><i
                                                class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .dropdown-cart-total -->
                                </div><!-- End .dropdown-menu -->
                            </div><!-- End .cart-dropdown -->
                        </div>
                    </div><!-- End .container -->
                </div><!-- End .header-middle -->

                <div class="header-bottom sticky-header">
                    <div class="container">
                        <div class="header-left">
                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <li class="megamenu-container active">
                                        <a href="userHome">Home</a>
                                    </li>

                                    <li><!-- start of pages -->
                                        <a href="products" class="sf">Products</a>
                                    </li><!-- end of pages -->

                                    <li><!-- start of pages -->
                                        <a href="contactUs" class="sf">Contact</a>
                                    </li><!-- end of pages -->

                                    <li>
                                        <a href="#" class="sf">About Us</a>
                                    </li>

                                    <li>
                                        <a href="myAccount" class="sf">My Account</a>
                                    </li>
                                </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->

                            <button class="mobile-menu-toggler">
                                <span class="sr-only">Toggle mobile menu</span>
                                <i class="icon-bars"></i>
                            </button>
                        </div><!-- End .header-left -->
                    </div><!-- End .container -->
                </div><!-- End .header-bottom -->
            </header><!-- End .header -->

            <main class="main">

                <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                    <div class="container">
                        <h1 class="page-title">You find all Products here</h1>
                    </div><!-- End .container -->
                </div><!-- End .page-header -->
                <nav aria-label="breadcrumb" class="breadcrumb-nav">
                    <div class="container">
                    </div><!-- End .container -->
                </nav><!-- End .breadcrumb-nav -->
    
                <div class="page-content">
                    <div class="container">
    
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow product-4-carousel" data-toggle="owl" 
                            data-owl-options='{
                                "nav": false, 
                                "dots": false,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
    
                            <% productsData.forEach(product => { %>
                                <div class="product product-4 text-center">
                                    <figure class="product-media">
                                        <a href="productDetails?productId=<%=product._id%>">

                                            <img src="/uploads/<%= product.prdctImage[0] %>" alt="Product image" class="product-image">
                                        </a>
        
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action -->
        
                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->
        
                                    <div class="product-body">
                                        <h3 class="product-title"><a href="products"><%= product.prdctName %></a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                           <p>₹<%= product.prdctPrice %></p>
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                                    
                                </div><!-- End .product -->
                                <% }) %>
                              
                        </div><!-- End owl-carousel -->
                        <hr class="mt-0 mb-5" />
                    </div><!-- End .container -->                  

            </main><!-- End .main -->
        
            <footer class="footer">
                <div class="footer-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="widget widget-about">
                                    <img src="user/assets/images/icons/elaine_final_logo_white.png" class="footer-logo"
                                        alt="Footer Logo" width="105" height="25">
                                    <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu
                                        vulputate magna eros eu erat. </p>

                                    <div class="social-icons">
                                        <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                                class="icon-instagram"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                                class="icon-youtube"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                                class="icon-pinterest"></i></a>
                                    </div><!-- End .soial-icons -->
                                </div><!-- End .widget about-widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">How to shop with us</a></li>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="#">Contact us</a></li>
                                        <li><a href="userLogin">Log in</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="#">Payment Methods</a></li>
                                        <li><a href="#">Money-back guarantee!</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Shipping</a></li>
                                        <li><a href="#">Terms and conditions</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="userSignup">Sign Up</a></li>
                                        <li><a href="#">View Cart</a></li>
                                        <li><a href="#">My Wishlist</a></li>
                                        <li><a href="#">Track My Order</a></li>
                                        <li><a href="#">Help</a></li>
                                    </ul><!-- End .widget-list -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-sm-6 col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .footer-middle -->


            </footer><!-- End .footer -->
        </div><!-- End .page-wrapper -->
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

        <!-- Mobile Menu -->
        <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

        <div class="mobile-menu-container">
            <div class="mobile-menu-wrapper">
                <span class="mobile-menu-close"><i class="icon-close"></i></span>

                <form action="#" method="get" class="mobile-search">
                    <label for="mobile-search" class="sr-only">Search</label>
                    <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                        placeholder="Search in..." required>
                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                </form>

                <nav class="mobile-nav">

                    <ul class="mobile-menu">
                        <li class="active">
                            <a href="userHome">Home</a>
                        </li>
                        <li>
                            <a href="#" class="sf">Products</a>
                        </li>
                        <li>
                            <a href="#" class="sf">Contact</a>
                        </li>
                        <li>
                            <a href="#" class="sf">About Us</a>
                        </li>
                        <li>
                            <a href="#" class="sf">My Account</a>
                        </li>
                    </ul>

                </nav><!-- End .mobile-nav -->

                <div class="social-icons">
                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                </div><!-- End .social-icons -->
            </div><!-- End .mobile-menu-wrapper -->
        </div><!-- End .mobile-menu-container -->

        <!-- Plugins JS File -->
        <script src="user/assets/js/jquery.min.js"></script>
        <script src="user/assets/js/bootstrap.bundle.min.js"></script>
        <script src="user/assets/js/jquery.hoverIntent.min.js"></script>
        <script src="user/assets/js/jquery.waypoints.min.js"></script>
        <script src="user/assets/js/superfish.min.js"></script>
        <script src="user/assets/js/owl.carousel.min.js"></script>
        <script src="user/assets/js/bootstrap-input-spinner.js"></script>
        <script src="user/assets/js/jquery.plugin.min.js"></script>
        <script src="user/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="user/assets/js/jquery.countdown.min.js"></script>
        <!-- Main JS File -->
        <script src="user/assets/js/main.js"></script>



<%-include("../layout/user/footer")-%>