<%-include("../layout/user/header")-%>
<div class="page-wrapper">
    <header class="header header-6">
        <div class="header-top">
            <div class="container pt-1">
                <div class="header-right">
                    <ul class="top-menu top-link-menu">
                        <li>
                            <ul>
                                <li><a href="/userLogout"><i class="icon-user"></i>Logout</a></li>
                            </ul>
                        </li>
                    </ul><!-- End .top-menu -->
                </div><!-- End .header-right -->
            </div>
        </div>

        <div class="header-middle">
            <div class="container">
                <div class="header-left">
                    <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                        <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                        <form action="#" method="get">
                            <div class="header-search-wrapper search-wrapper-wide">
                                <label for="q" class="sr-only">Search</label>
                                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                <input type="search" class="form-control" name="q" id="q"
                                    placeholder="Search product ..." required>
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->
                </div>
                <div class="header-center">
                    <a href="userHome" class="logo">
                        <h3 class="text-center font-weight-bolder text-uppercase">Elaine</h3>
                    </a>
                </div><!-- End .header-left -->

                <div class="header-right">
                    <a href="wishlist" class="wishlist-link">
                        <i class="icon-heart-o"></i>
                        <span class="wishlist-txt">My Wishlist</span>
                    </a>
                    <div class="dropdown cart-dropdown">
                        <a href="cart" class="dropdown-toggle" role="button" aria-haspopup="true"
                            aria-expanded="false" data-display="static">
                            <i class="icon-shopping-cart"></i>
                            <span class="cart-count"><%= cartLength %></span>
                        </a>
                    </div><!-- End .cart-dropdown -->
                </div>
            </div><!-- End .container -->
        </div><!-- End .header-middle -->

        <div class="header-bottom sticky-header">
            <div class="container">
                <div class="header-left">
                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container active">
                                <a href="userHome">Home</a>
                            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <li><!-- start of pages -->
                                <a href="products" class="sf">Products</a>
                            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- end of pages -->

                            <li><!-- start of pages -->
                                <a href="contactUs" class="sf">Contact</a>
                            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- end of pages -->

                            <li>
                                <a href="#" class="sf">About Us</a>
                            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <li>
                                <a href="myAccount" class="sf">My Account</a>
                            </li>
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->

                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>
                </div><!-- End .header-left -->
            </div><!-- End .container -->
        </div><!-- End .header-bottom -->
    </header><!-- End .header -->

        <main class="main">
            <div class="intro-slider-container">
                <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
                    data-owl-options='{
                    "dots": false,
                    "nav": false, 
                    "responsive": {
                        "992": {
                            "nav": true
                        }
                    }
                }'>
                    <div class="intro-slide"
                        style="background-image: url(user/assets/images/demos/demo-6/slider/slide-1.jpg);">
                        <div class="container intro-content text-center">
                            <h3 class="intro-subtitle text-white">You're Looking Good</h3>
                            <!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">New Lookbook</h1><!-- End .intro-title -->

                            <a href="products" class="btn btn-outline-white-4">
                                <span>Discover More</span>
                            </a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->

                    <div class="intro-slide"
                        style="background-image: url(user/assets/images/demos/demo-6/slider/slide-2.jpg);">
                        <div class="container intro-content text-center">
                            <h3 class="intro-subtitle text-white">Don’t Miss</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title text-white">Mysrety Deals</h1><!-- End .intro-title -->

                            <a href="category.html" class="btn btn-outline-white-4">
                                <span>Discover More</span>
                            </a>
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-theme -->

                <span class="slider-loader"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->


            <div class="mb-5"></div><!-- End .mb-5 -->
            <div class="container">
                <div class="heading heading-center mb-3">
                    <h2 class="title">Trending Collections</h2><!-- End .title -->
                    <h6>Shop Our Trending Collections from Here</h6>
                    <hr>

              </div><!-- End .heading -->

                <div class="tab-content tab-content-carousel">
                    <div class="tab-pane p-0 fade show active" id="trending-all-tab" role="tabpanel"
                        aria-labelledby="trending-all-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
                            data-toggle="owl" data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                        <% productData.forEach(product=> { %>
                            <% if(product.is_listed===true && product.prdctQuantity > 0){%>
                            <div class="product product-7 text-center">
                                <figure class="product-media">
                                    <a href="productDetails?productId=<%=product._id%>">
                                        <img src="/processed_images/<%= product.prdctImage[0] %>"
                                            alt="Product image" class="product-image">
                                    </a>
                                    <% if (product.offer && product.offer.status === true) { %>
                                        <span class="product-label label-sale"><%= product.offer.offerPercentage %>% OFF</span>
                                    <% } %>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable" onclick="addToWishlist('<%= product._id %>')"><span>add to
                                                wishlist</span></a>
                                    </div><!-- End .product-action-vertical -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart" onclick="addToCart('<%= product._id %>')"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#"><%= product.categoryId.cateName %></a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="product.html"><%= product.prdctName %></a>
                                    </h3><!-- End .product-title -->
                                    <div class="product-price">

                                        <% if (product.offer && product.offer.status === true) { %>
                                            <h5 class="new-price  ">₹<%= product.prdctPrice - (product.offer.offerPercentage * product.prdctPrice)/100 %></h5>
                                            <p class="old-price "><s>₹<%= product.prdctPrice %></s></p>
                                        <% } else { %>
                                            <p>₹<%= product.prdctPrice %></p>
                                        <% } %>

                                    </div><!-- End .product-price -->

                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                            <%} %>
                        <% }) %>

                        </div><!-- End .owl-carousel -->
                        <hr>

                    </div><!-- .End .tab-pane -->

                </div><!-- End .tab-content -->
            </div><!-- End .container -->

            <div class="mb-5"></div><!-- End .mb-5 -->

            <div class="mb-6"></div><!-- End .mb-5 -->

        </main><!-- End .main -->

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="/user/assets/images/elaine_final_logo_white.png" class="footer-logo"
                                    alt="Footer Logo" width="105" height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. </p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                            class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">How to shop on Elaine</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contactUs">Contact us</a></li>
                                    <li><a href="userLogin">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="userSignup">Sign Up</a></li>
                                    <li><a href="cart">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->


        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">

                <ul class="mobile-menu">
                    <li class="active">
                        <a href="userHome">Home</a>
                    </li>
                    <li>
                        <a href="products" class="sf">Products</a>
                    </li>
                    <li>
                        <a href="contactUs" class="sf">Contact</a>
                    </li>
                    <li>
                        <a href="#" class="sf">About Us</a>
                    </li>
                    <li>
                        <a href="myAccount" class="sf">My Account</a>
                    </li>
                </ul>

            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->
        
<!-- Plugins JS File -->
<script src="/user/assets/js/jquery.min.js"></script>
<script src="/user/assets/js/bootstrap.bundle.min.js"></script>
<script src="/user/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/user/assets/js/jquery.waypoints.min.js"></script>
<script src="/user/assets/js/superfish.min.js"></script>
<script src="/user/assets/js/owl.carousel.min.js"></script>
<script src="/user/assets/js/bootstrap-input-spinner.js"></script>
<script src="/user/assets/js/bootstrap-input-spinner.js"></script>
<script src="/user/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/user/assets/js/jquery.countdown.min.js"></script>

<!-- Main JS File -->
<script src="/user/assets/js/main.js"></script>
<script src="/user/assets/js/demos/demo-6.js"></script>
<script src="/user/assets/js/demos/demo-16.js"></script>

<!--Sweet Alert  -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function addToCart(productId) {
        fetch(`/addProductsToCart?productId=${productId}`)
            .then(response => response.json())
            .then(data => {
                if (data.message === "Item added to cart") {
                    Swal.fire({
                                position: "bottom",
                                text: 'Item added to cart',
                                showConfirmButton: false,
                                color: "#fff",
                                background:"#000000",
                                timer: 1500,
                                width: 300,
                            });
                } else if (data.message === "Item is already in the cart") {
                    Swal.fire({
                                position: "bottom",
                                text: 'This item is already in your cart',
                                showConfirmButton: false,
                                color: "#fff",
                                background:"#000000",
                                timer: 1500,
                                width: 300,
                            });
                } else {
                    Swal.fire({
                                position: "bottom",
                                text: data.message,
                                showConfirmButton: false,
                                color: "#fff",
                                background:"#000000",
                                timer: 1500,
                                width: 300,
                            });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                            position: "bottom",
                            text: "Something went wrong",
                            showConfirmButton: false,
                            color: "#fff",
                            background:"#000000",
                            timer: 1500,
                            width: 400,
                        });
            });
    }
    </script>

<script>

    function addToWishlist(productId){
        fetch(`/addToWishlist?productId=${productId}`)
        .then(response => response.json())
        .then(data => {
            if (data.message === "Item added to wishlist") {
                Swal.fire({
                            position: "bottom",
                            text: "Item added to wishlist",
                            showConfirmButton: false,
                            color: "#fff",
                            background:"#000000",
                            timer: 1500,
                            width: 400,
                        });
            }  else {
                Swal.fire({
                            position: "bottom",
                            text: data.message,
                            showConfirmButton: false,
                            color: "#fff",
                            background:"#000000",
                            timer: 1500,
                            width: 400,
                        });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire({
                        position: "bottom",
                        text: "Something went wrong",
                        showConfirmButton: false,
                        color: "#fff",
                        background:"#000000",
                        timer: 1500,
                        width: 300,
                    });
        });
    }

</script>

<%-include("../layout/user/footer")-%>