<%-include("../layout/user/header")-%>

<div class="page-wrapper">
    <header class="header header-6">
        <div class="header-top">
            <div class="container pt-1">
                <div class="header-right">
                    <ul class="top-menu top-link-menu">
                        <li>
                            <ul>
                                <li><a href="/userLogout"><i class="icon-user"></i>Logout</a></li>
                            </ul>
                        </li>
                    </ul><!-- End .top-menu -->
                </div><!-- End .header-right -->
            </div>
        </div>

        <div class="header-middle">
            <div class="container">
                <div class="header-left">
                    <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                        <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                        <form action="#" method="get">
                            <div class="header-search-wrapper search-wrapper-wide">
                                <label for="q" class="sr-only">Search</label>
                                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                <input type="search" class="form-control" name="q" id="q"
                                    placeholder="Search product ..." required>
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->
                </div>
                <div class="header-center">
                    <a href="userHome" class="logo">
                        <h3 class="text-center font-weight-bolder text-uppercase">Elaine</h3>
                    </a>
                </div><!-- End .header-left -->

                <div class="header-right">
                    <a href="#" class="wishlist-link">
                        <i class="icon-heart-o"></i>
                        <span class="wishlist-txt">My Wishlist</span>
                    </a>
                    <div class="dropdown cart-dropdown">
                        <a href="cart" class="dropdown-toggle" role="button" aria-haspopup="true"
                            aria-expanded="false" data-display="static">
                            <i class="icon-shopping-cart"></i>
                        </a>
                    </div><!-- End .cart-dropdown -->
                </div>
            </div><!-- End .container -->
        </div><!-- End .header-middle -->

        <div class="header-bottom sticky-header">
            <div class="container">
                <div class="header-left">
                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container active">
                                <a href="userHome">Home</a>
                            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <li><!-- start of pages -->
                                <a href="products" class="sf">Products</a>
                            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- end of pages -->

                            <li><!-- start of pages -->
                                <a href="#" class="sf">Contact</a>
                            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- end of pages -->

                            <li>
                                <a href="#" class="sf">About Us</a>
                            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <li>
                                <a href="#" class="sf">My Account</a>
                            </li>
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->

                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>
                </div><!-- End .header-left -->
            </div><!-- End .container -->
        </div><!-- End .header-bottom -->
    </header><!-- End .header -->

    <main class="main">
        <div class="page-header text-center" style="background-image: url('/user/assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Wishlist<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <table class="table table-wishlist table-mobile">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Stock Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
    
                        <tr>
                            <% wishlistData.products.forEach(product=> { %>
                                <% if( product.productId.prdctQuantity > 0){%>

                            <td class="product-col">
                                <div class="product">
                                    <figure class="product-media">
                                        <a href="#">
                                            <img src="/processed_images/<%= product.productId.prdctImage[0] %>"
                                                        alt="Product image">                                    
                                        </a>
                                    </figure>

                                    <h3 class="product-title">
                                        <a href="#"><%= product.productId.prdctName %></a>
                                    </h3><!-- End .product-title -->
                                </div><!-- End .product -->
                            </td>
                            <td class="price-col">₹<%= product.productId.prdctPrice %></td>
                            <td class="stock-col"><span class="in-stock">In stock</span></td>
                            <td class="action-col">
                                <a href="#" class="btn btn-block btn-outline-primary-2" onclick="addToCart('<%= product.productId._id %>')"><span>add to cart</span></a>

                            </td>
                            <td class="remove-col">
                                <button class="btn-remove" data-product-id="<%= product.productId._id %>">
                                <i class="icon-close"></i>
                                </button>
                            </td>                            
                            
                        </tr>
                        <%}else{%>
                        <tr>
                            <td class="product-col">
                                <div class="product">
                                    <figure class="product-media">
                                        <a href="#">
                                            <img src="/processed_images/<%= product.productId.prdctImage[0] %>"
                                            alt="Product image" class="product-image"></a> 
                                    </figure>

                                    <h3 class="product-title">
                                        <a href="#"><%= product.prdctName %></a>
                                    </h3><!-- End .product-title -->
                                </div><!-- End .product -->
                            </td>
                            <td class="price-col">₹<%= product.prdctPrice %></td>
                            <td class="stock-col"><span class="out-of-stock">Out of stock</span></td>
                            <td class="action-col">
                                <button class="btn btn-block btn-outline-primary-2 disabled">Out of Stock</button>
                            </td>
                            <td class="remove-col"><button class="btn-remove"
                                data-product-id="<%= product.productId._id %>">
                                <i class="icon-close"></i>
                            </button>                            
                        </tr>
                            <%} %>
                        <% }) %>
                    </tbody>
                </table><!-- End .table table-wishlist -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->


    <footer class="footer">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget widget-about">
                            <img src="/user/assets/images/elaine_final_logo_white.png" class="footer-logo"
                                alt="Footer Logo" width="105" height="25">
                            <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                magna eros eu erat. </p>

                            <div class="social-icons">
                                <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                        class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                        class="icon-youtube"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                        class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">How to shop on Elaine</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="contactUs">Contact us</a></li>
                                <li><a href="userLogin">Log in</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="userSignup">Sign Up</a></li>
                                <li><a href="cart">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

    </footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                placeholder="Search in..." required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <nav class="mobile-nav">

            <ul class="mobile-menu">
                <li class="active">
                    <a href="userHome">Home</a>
                </li>
                <li>
                    <a href="#" class="sf">Products</a>
                </li>
                <li>
                    <a href="#" class="sf">Contact</a>
                </li>
                <li>
                    <a href="#" class="sf">About Us</a>
                </li>
                <li>
                    <a href="#" class="sf">My Account</a>
                </li>
            </ul>

        </nav><!-- End .mobile-nav -->

        <div class="social-icons">
            <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->



<!-- Plugins JS File -->
<script src="/user/assets/js/jquery.min.js"></script>
<script src="/user/assets/js/bootstrap.bundle.min.js"></script>
<script src="/user/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/user/assets/js/jquery.waypoints.min.js"></script>
<script src="/user/assets/js/superfish.min.js"></script>
<script src="/user/assets/js/owl.carousel.min.js"></script>
<script src="/user/assets/js/bootstrap-input-spinner.js"></script>
<script src="/user/assets/js/bootstrap-input-spinner.js"></script>
<script src="/user/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/user/assets/js/jquery.countdown.min.js"></script>


<!-- Main JS File -->
<script src="/user/assets/js/main.js"></script>
<script src="/user/assets/js/demos/demo-6.js"></script>
<script src="/user/assets/js/demos/demo-16.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!--Sweet Alert  -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.btn-remove').forEach(function(button) {
            button.addEventListener('click', function(e) {
                e.preventDefault();
                const productId = this.getAttribute('data-product-id');
                swal({
                        title: "Are you sure?",
                        text: "Once deleted, you will not be able to recover this address!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete) {
                            fetch('/removeFromWishlist', {
                                method: 'DELETE',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ productId: productId })
                            })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.json();
                            })
                            .then(data => {
                                if(data.message === "Product removed from wishlist successfully"){
                                    swal({
                                        title: "Success!",
                                        text: data.message,
                                        icon: "success",
                                        timer: 1500,
                                        buttons: false
                                    });
                                    setTimeout(function() {
                                        location.reload();
                                    }, 1000);
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });
                        } 
                    });
            });
        });
    });
</script>

<script>
    function addToCart(productId) {
        fetch(`/addProductsToCart?productId=${productId}`)
            .then(response => response.json())
            .then(data => {
                if (data.message === "Item added to cart") {
                    swal({
                        title: "Success!",
                        text: "Item added to cart",
                        icon: "success",
                        timer: 1000, 
                        buttons: false, 
                        
                    });
                } else if (data.message === "Item is already in the cart") {
                    swal({
                        text: "This item is already in your cart",
                        icon: "info",
                        timer: 1000, 
                        buttons: false, 
                        
                    });
                } else {
                    swal({
                        title: "Error!",
                        text: data.message,
                        icon: "error",
                        timer: 1000, 
                        buttons: false, 
                        
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                swal({
                    title: "Error!",
                    text: "Something went wrong",
                    icon: "error",
                    timer: 800, 
                    buttons: false, 
                    
                });
            });
    }
    </script>
    

<%-include("../layout/user/footer")-%>